body{
    color: #222;
}

#summary-candidate{
    font-weight: bold;
}

#ap-container-panels{
    top: 0;
}

#timestamp{
    text-align: left;
}

header h1 {
    display: none;
}

#election-results #state-summaries{
    margin-bottom: 10px;
}
#election-results #state-summaries .winner-check{
    display: none;
}
.winner-check{
    display: none !important;
}
.ap-container-content  #election-results #state-summaries .candidate-summary{
    display: block;
    text-align: left;
    padding-left: 0;
    margin-left: 0;
    border: 0;
}

#tabulated-state-results {
    float: left !important;
    width: 47%;
    padding-right: 3%;
}
#map-results {
    float: right;
    margin-top: 20px;
    width: 50%;
}
#county-select{
    float: left;
    overflow: hidden;
}
#county-select .custom-combobox{
    position: absolute;
    margin-left: 0;
}

@media screen and (max-width: 540px){
    #tabulated-state-results {
        width: 100%;
        float: none;
    }
    #map-results {
        width: 94%;
        float: none;
        margin-top: 0;
    }
    #county-select .custom-combobox{
        position: initial;
    }
}

.ap-container-content #dem-footnote{
    display: none;
}

#election-results{
    overflow: hidden;
}
